 <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="navbarsackola">
        <a class="navbar-brand  mr-2" href="{{ path('home_index') }}">
            <img style="width: 60px" src="{{ asset('images/img.png') }}" alt="Logo du site">
            {#<div class="vista-create-share" data-vista-create-id="62b8c2fd4c6d282d83f09e20">

            </div>
            <script type="text/javascript" src="https://static.create.vista.com/js/embedded_v1.min.js?v=1.130.4" async>

            </script>#}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item nabar_item">
                    <a class="nav-link  mr-2 text-light" href="{{ path('produit_index') }}">Nos formations </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link mr-2 text-light" href="{{ path('agence') }}">Agence~Digitale</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-light" href="{{ path('contact') }}">Contact </a>
                </li>
            </ul>
            <div class="nabar_item">
                {% if app.user %}
                    <a href="{{ path('panier_index') }}"><i class="fas fa-shopping-cart text-light"></i></a>
                    <a class="text-white" href="{{ path('account_index') }}">Mon compte
                        <small>({{ app.user.firstname }})</small>
                    </a> | <a class="text-light" href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Connexion</a> <span class="text-light">/</span> <a href="{{
                path('register')
                }}">Inscription</a>
                    <a href="{{ path('panier_index') }}"><i class="fas fa-shopping-cart text-light"></i></a>
                {% endif %}
            </div>
        </div>
 </nav>


