/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body, html {
    padding-top: 0rem;
    padding-bottom: 0rem;
    color: #5a5a5a;
    font-family: 'Times New Roman', Times, serif;


}
body .btn {
    border-radius: 20px;

}
.marketing h2{
    text-align: center;
}
.container p {
    text-align: justify;
}
.container img{
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
}




/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 0rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}
/*.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}*/


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {

    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 600px){
    body{
        position: absolute;

    }

}


