<nav class="navbar navbar-expand-lg navbar-dark" id="navbarsackola">
    <a class="navbar-brand text-white" href="{{ path('home_index') }}">
        <img style="width: 60px" src="{{ asset('images/img.png') }}" alt="Logo du site">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-light" href="{{ path('home') }}">
                    <i class="fas fa-home"></i>

                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{{ path('projets_realises-index') }}">
                    <i class="fab fa-internet-explorer">Projets-Réalisés</i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{{ path('ad_index') }}">
                    <i class="fas fa-ad"></i>Offres</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fab fa-dev">Services</i></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item text-success" href="{{ path('agence') }}#dev_web">Dév-Web</a>
                    <a class="dropdown-item text-warning" href="{{ path('agence') }}#mob">Application-mobile</a>
                    <a class="dropdown-item text-danger" href="{{ path('agence') }}#design">Web-Design</a>
                    <a class="dropdown-item text-success" href="{{ path('agence') }}#seo">SEO</a>
                    <a class="dropdown-item text-warning" href="{{ path('agence') }}#refonte">Refonte</a>
                    <a class="dropdown-item text-danger" href="{{ path('agence') }}#UX">UX-UI</a>
                    <a class="dropdown-item text-success" href="{{ path('agence') }}#vitrine">Site-vitrine</a>
                    <a class="dropdown-item text-warning" href="{{ path('agence') }}#ecom">Site-e-commerce</a>
                    <div class="dropdown-divider"></div>
                    {#<a class="dropdown-item" href="#">Separated link</a>#}
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light" href="{{ path('demo_index') }}"><i class="fas
                fa-play-circle"></i>Demo</a>
            </li>
            {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item">
                    <a class="nav-link text-light" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ path('users_index') }}">Utilisateurs</a>
                </li>
            {% endif %}
        </ul>

        <ul class="navbar-nav left">
            {% if  app.user %}
            <li class="nav-item dropdown">
                <a href="#" id="accountDropdownLink"  class="nav-link dropdown-toggle "
                   data-toggle="dropdown">
                    <i class="fas fa-user-circle"></i>
                    {{ app.user.firstname }} {{ app.user.lastname }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                    {% if is_granted("ROLE_ADMIN") %}
                        <a class="dropdown-item text-primary" href="{{ path('dashboard') }}">Créer une annonce</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('account_index') }}" class="dropdown-item text-success">Mon
                            Compte
                        </a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    {#<a href="{{ path('user_show', {'id': app.user.id}) }}" class="dropdown-item text-danger">Voir
                        profil</a>#}
                    <div class="dropdown-divider"></div>
                    <a href="{{ path('app_logout') }}" class="dropdown-item text-danger">Déconnexion</a>
                </div>
            </li>
            {% else %}

            <li class="nav-item">
                <a class="nav-link text-light" href="{{ path('register') }}">S'inscrire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="{{ path('app_login') }}">Connexion </a>
            </li>
        </ul>
        {% endif %}
        {#<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Recherche">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
        </form>#}
    </div>
</nav>

